.dashboard.light {
    background-color: #fcfcfc;
    color: black !important;
}

.dashboard.dark {
    background-color: #121212;
    color: #fcfcfc;
}

@import "./scss/bootstrap";
@import "./scss//frontend/navbar";
@import "./scss/dashboard";
@import "./scss/screen-loader";
@import "./scss/buttons";
@import "./scss/utilities";
@import "./scss/frontend/home";
@import "./scss/frontend/faqs";
@import "./scss/frontend/footer";
@import "./scss/frontend/404page";
@import "./scss/Authentication/Login.scss";

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.ant-layout {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




main {
    flex: 1 0 auto;
}

@media (min-width: 1920px) {
    .custom-xxl-padding {
        padding-left: 10rem !important;
        padding-right: 10rem !important;
    }
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

audio {
    position: fixed;
    left: 10px;
    bottom: 20px;
    width: calc(100% - 20px);
}

.text-input {
    position: fixed;
    left: 10px;
    bottom: 20px;
    width: calc(100% - 20px);
}

.input-class {
    outline: none !important;
    box-shadow: none !important;
}

input::placeholder {
    color: white !important;
}

audio.active {
    bottom: 10px;
}

#thefile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

label.file {
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 10%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1rem 2rem;
    border-radius: 4px;

    background: var(--paperColor);
    color: var(--textColor);
    font-size: 1.25em;
    font-weight: 700;
    box-shadow: 0 20px 60px var(--shadowColorFaint);

    cursor: pointer;
}


label.file:hover {
    background: var(--paperColorDark);
    transform: translate3d(-50%, -55%, 0);
}

label.file:active {
    background: var(--paperColorDark);
    transform: translate3d(-50%, -45%, 0);
}

label.file.normal {
    transform: translate3d(10%, 50%, 0);
    padding: 0.2rem 2rem;
    font-size: 1rem;
    top: 0;
    left: 0;
}